.grpmsgContainer{
  max-width: 100%;
  margin: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.grprecent {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 20%;
  border:1px  solid #c4c4c4;
  height: 35rem;
  overflow-y: scroll;

}




.name_container1{
  border-bottom: 1px  solid #c4c4c4;
  padding: 0.5rem;
  padding-bottom: 0rem;

}
.name_container{
  border-bottom: 1px  solid #c4c4c4;
  padding: 0.5rem;

}

.grpmsgContent {
  background: #f8f8f8 none repeat scroll 0 0;
  overflow: hidden;
  width: 60%;
  border:1px  solid #c4c4c4;
  height: 35rem;


}

.profile_pic{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
 max-width: 100%;
}

.send_area{
  text-align: center;
  padding: 0.5rem;
}

.grpchat_area{
  overflow-y: scroll;
  height:31rem;
  border-bottom: 1px  solid #c4c4c4;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 40%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.received_withd_msg span {
 background: #ebebeb none repeat scroll 0 0;
 border-radius: 3px;
 color: #646464;
 font-size: 14px;
 margin: 0;
 padding: 5px 10px 5px 12px;
 width: 100%;
}

.sent_msg p {
 background: #05728f none repeat scroll 0 0;
 border-radius: 3px;
 font-size: 14px;
 margin: 0; color:#fff;
 padding: 5px 10px 5px 12px;
 width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
 float: right;
 width: 40%;
}
.button_container{
  cursor: pointer;
}


.groupInfo {
  background: #f8f8f8 none repeat scroll 0 0;
  overflow: hidden;
  width: 20%;
  border:1px  solid #c4c4c4;
  height: 35rem;
  overflow-y: scroll;


}
.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
